
#introduction {
    position: relative;
    padding: 12rem 0rem;

    .shadow {
        height: 300px;
        z-index: 10;
        width: 100%;
        position: absolute;
        top: 0;
        background: linear-gradient(to bottom, #151515, transparent);
    }

    .sunset {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(127, 189, 247);
        mix-blend-mode: overlay;
    }

    h1 {
        text-align: center;
    }

    .boxes {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        transition: all .2s ease-out;

        @media only screen and (max-width: 900px) {

        }

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            transition: all .2s ease-out;
            margin: 1rem 1rem;
            width: 400px;
            z-index: 100;
            transition: all .5s ease-out;

            img {
                width: 300px !important; 
                border-radius: 10px;
            }

            h2 {
                margin-top: 1rem;
                width: 300px;
            }
        }

        .triggered {
            opacity: 1;
        }
    }

}

