
#parallax {

    .title {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        h1 {
            color: white;
            font-size: 4rem;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
        }

        h2 {
            color: white;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
        }
    }

    .shadow {
        height: 200px;
        z-index: 10;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #151515, transparent);
    }

    .images {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 1.0);
    
        img {
            position: absolute;
            top: 0;
        }
    
        #mountain3 {
            opacity: .8;
            right: 0;
        }
    
        #mountain2 {
            right: 0;
        }
    
        #mountain1 {
            right: 0;
        }
    
        #mountain {
            right: 0;
        }
    
    }
    
    .blend{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #7a98eb, $alpha: .3);
        mix-blend-mode: overlay;
    }

    .explore {
        color: white;
        position: absolute;
        z-index: 100;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        bottom: 5%;
        cursor: pointer;

        #down-arrow {
            margin: .5rem 0rem;
            font-size: 2rem;
        }
    }
    
}



